# Node modules
/node_modules/

# Logs
*.log
npm-debug.log*

# Environment variables
.env

# Dependency directories
/.pnp
.pnp.js

# Next.js build output
/.next/

# Vite build output
/dist/

# Yarn
yarn-debug.log*
yarn-error.log*

# macOS files
.DS_Store

# Windows files
Thumbs.db

# IDE or Editor files
.vscode/
.idea/

# MongoDB Data
/mongodb-data/

# Build directory for production (if applicable)
build/
